//begin footer
+b.FOOTER.footer
	+e.container.container
		+e.A.logo(href='#!')
			+e.IMG(src='img/other/logo_gray.png' alt='image')
		+e.products
			-
				prodList = [
				'iPhone 6',
				'iPhone 6 Plus',
				'iPhone 6s',
				'iPhone 6s Plus',
				'iPhone 7',
				'iPhone 7 Plus',
				'iPhone 8',
				'iPhone 8 Plus',
				'iPhone X',
				'Аксессуары'
				]
			ul
				for prodLink in prodList
					li: a(href='#!')= prodLink
		+e.nav
			-
				navList = [
				'О магазине',
				'Оплата и доставка',
				'Контакты',
				'Сервисный центр'
				]
			ul
				for navLink in navList
					li: a(href='#!')= navLink
		+b.basket-block._black.footer__basket
			+e.A.link(href='#!')
				+i('cart')
				span 13
			+e.text
				+e.SPAN Корзина
				+e.sum
					span 23 000
					= ' '
					| руб.
	+e.info
		+e.info-container.container
			+e.P © 2018 «IPhone Мурманск». Все права защищены.
			+e.A(href='#!') Политика конфиденциальности
			+e.dev
				span Разработка
				+e.A(href='#!') FreshDigital
//end footer
