.icon-cart {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-check-mark {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-checked {
  width: 1em;
  height: 1em;
  fill: #6ac259;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-delivery-truck {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mark-circle {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-quality {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sales-ticket {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-tablet-backside {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-thumb-up {
  width: 1em;
  height: 1em;
  fill: initial;
}
